<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    {% load static %}

    <title>{{ page_title }}</title>

    <!-- NAV/TOOLBAR STYLES -->
    <link rel="stylesheet" href="{% static 'analytics/styles_nav_toolbar.css' %}?ver=003">
    <!-- PAGE SPECIFIC STYLES -->
    <link rel="stylesheet" href="{% static 'analytics/dashboard/styles_page.css' %}?ver=035">

    <!-- Noto Sans JP - 400 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body onload="initialization()">

    <section id="page-meta" data-csrf_token="{{ csrf_token }}"></section>

    <section id="modules-container"></section>

    <section>
        <div id="toolbar-container">
            <div id="buttons-container">
                <div id="toolbar-logo"></div>
                <div id="button-group">
                    <a class="toolbar-button" href="/user_profile/logout" id="logout-button"></a>
                </div>
            </div>
            <div id="nav-container">
                <a id="class-list-navbar-link" class="nav-item" href="/class_list/browse">授業</a>
                <a id="profiles-navbar-link" class="nav-item" href="/customer/browse">生徒</a>
                <a id="notes-navbar-link" class="nav-item" href="/customer/notes">日程</a>
                <a id="attendance-taking-navbar-link" class="nav-item" href="/attendance/">出欠</a>
                <a id="analytics-dashboard-navbar-link" class="nav-item current-location" href="/analytics/dashboard">分析</a>
            </div>
        </div>
    </section>

    <!-- NAV/TOOLBAR SCRIPTS -->
    <script src="{% static 'analytics/scripts_nav_toolbar.js' %}?ver=001"></script>
    <!-- PAGE SPECIFIC SCRIPTS -->
    <script src="{% static 'analytics/dashboard/scripts_page.js' %}?ver=064"></script>
    
    <!-- CHART.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

</body>
</html>