/* TOOLBAR */
#toolbar-container {
    position: fixed;
    top: 0;

    width: 100vw;

    display: grid;
    grid-auto-rows: 2.5rem;

    z-index: 99;

    /* make text unselectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* LOGO */
#toolbar-logo {
    width: 6rem;
    height: 1.5rem;

    background-image: url(img/toolbar_logo.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0% 50%;
}

/* BUTTONS */
#buttons-container {
    z-index: 99;

    background-color: #00B8A9;

    padding: 0 .6rem;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

#button-group {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: .3rem;
}

.toolbar-button {
    border-radius: .2rem;

    width: calc(2.5rem - .6rem);
    height: calc(2.5rem - .6rem);

    cursor: pointer;
}
 
/* BUTTONS - LOGOUT BUTTON */
#logout-button {
    background-image: url(img/logout_icon.svg);
    background-size: auto 73%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

/* BUTTONS - ADD NEW STUDENT BUTTON */
#add-button {
    background-image: url(img/add_icon.svg);
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#add-button.add-button-active {
    background-image: url(img/add_icon_true.svg);
    background-color: #ffffff;
}

/* BUTTONS - SHOW ARCHIVED BUTTON */
#archive-button {
    background-image: url(img/archive_false.svg);
    background-size: auto 73%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

#archive-button.archive-button-active {
    background-image: url(img/archive_true.svg);
    background-color: #ffffff;
}

/* SEARCH */
#search-container {
    position: relative;

    width: 100vw;

    background-color: #00B8A9;
    z-index: 99;

    display: grid;
    justify-items: right;
    justify-content: right;
    grid-auto-flow: column;
}

#search-container input {
    font-size: 1.2rem;

    width: calc(100% - 3.4rem);
    max-width: 350px;
    height: calc(100% - .3rem - 2px);
    padding: 0 .5rem 0 2.3rem;
    margin: 2px .3rem 0 .3rem;
    
    border-radius: .3rem;

    border: none;
}

#search-container input:focus {
    outline: none;
    border: none;
}

#search-input {
    background-image: url('/static/customer/img/magnifying_glass.svg');
    background-repeat: no-repeat;
    background-position: .5rem 50%;
    background-size: auto 60%;
}

#search-submit-button-container {
    height: calc(100% - .3rem - 4px);
    padding: 0 .3rem;
    margin: 1px 1rem 0 0;
    border: solid 2px #ffffff;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: .3rem;
    color: #ffffff;
    cursor: pointer;
    font-size: .9rem;
}

#search-submit-button-container:hover {
    background-color: rgba(255,255,255,0.3);
}

/* NAVIGATION */
#nav-container {
    position: relative;
    z-index: 98;

    background-color: #00B8A9;
    box-shadow: 0 0 .3rem .3rem rgba(0,0,0,.2);

    width: 100vw;

    top: 0;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    color: #ffffff;
}

#nav-container a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.current-location {
    border-bottom: solid 2px #ffffff;
}

#nav-container a.current-location {
    cursor: inherit;
}

/* IDS FOR NAV LINKS */

#attendance-navbar-link {
    display: none;
}

#profiles-navbar-link {
    /* style profiles link */
}

#notes-navbar-link {
    /* style notes link */
}

#invoices-navbar-link {
    display: none;
}

/* NAVIGATION - ANIMATION CLASSES */
.hide-nav {
    animation: hide-nav 250ms ease-in both;
}

@keyframes hide-nav {
    0% {top: 0;}
    100% {top: -100%}
}

.show-nav {
    animation: show-nav 250ms ease-out both;
}

@keyframes show-nav {
    0% {top: -100%;}
    100% {top: 0}
}

/* only addresses devices that support hover */
@media (hover:hover) {
    .toolbar-button:hover {
        background-color: rgba(255,255,255,0.3);
    }
 }